<div class="container d-flex justify-content-center mt-5">

  <div class="row">
    <ul class="list-unstyled">
      <li class="alert alert-secondary col-12" role="alert">
        <strong>You said:</strong> "<%= @question %>"
      </li>
      <li class="alert alert-secondary col-12" role="alert">
        <strong>Coach said:</strong>  "<%= @answer %>"
      </li>
    </ul>

    <div class="d-flex justify-content-end">
      <button type="button" class="mt-5 btn btn-info">
        <%= link_to "back to question", ask_path, class: "text-decoration-none text-black" %>
      </button>
    </div>
  </div>

</div>
